
body {
	background-color: #202030;
}

main {
	justify-content: center;
	margin: 0px auto;
	margin-top: 50px;
	font-family: "Segoe UI";
	font-size: 14px;
	color: #FFFFFF;
}

.na {
	display: inline-block;
}

.sep {
	padding-top: 6px;
	padding-bottom: 6px;
}

hr {
	border: 0px;
	border-top: 1px solid #585880;
}

.header {
	background-color: #303050;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	width: 300px;
	padding: 12px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	box-shadow: 1px 1px 6px 2px #181820;
}

.content {
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	padding: 10px;
	padding-top: 16px;
	justify-content: center;
	background-color: #303050;
	width: 800px;
	box-shadow: 1px 1px 6px 2px #181820;
}

.row-wrap {
	display: flex;
	justify-content: space-between;
}

	/* stage selector  */

select {
	background-color: #282840;
	padding: 6px;
	padding-top: 4x;
	padding-bottom: 4px;
	border: 1px solid;
	border-color: #000000;
	border-radius: 2px;
	color: #FFFFFF;
}

.stage-select {
	margin: 10px;
}

	/* toggles */

.toggle-sidebar {
	display: flex;
}

.ver-cont {
	margin: 10px;
	margin-top: 12px;
	margin-bottom: 0px;
}

.toggle-box {
	background-color: #282840;
	border: 1px solid;
	border-radius: 2px;
	/*border-color: #5050A0;*/
	border-color: #484880;
	height: 23px;
}

.toggle-button {
	float: left;
	font-weight: bold;
	border-right: 1px solid;
	border-color: #484880;
	/*border-color: #5050A0;*/
	padding-left: 9px;
	padding-right: 9px;
	color: #E0E0E0;
	height: 23px;
}

.toggle-button:last-child {
	border-right: 0px;
}

.toggle-button[data-active="true"] {
	background-color: #404090;
}

.toggle-button:hover {
	cursor: pointer;
}

.toggle-button[data-active="true"]:hover {
	background-color: #3A3A80;
}

.toggle-button[data-active="false"]:hover {
	background-color: #282850;
}

.toggle-button[data-plain="true"] {
	font-weight: normal;
}

.toggle-inner {
	padding-top: 2px;
}

.offset-box {
	background-color: #282840;
	border-radius: 2px;
	color: #D0D0F0;
	font-size: 12px;
	text-align: center;
	margin-top: 4px;
	padding: 2px;
	padding-bottom: 3px;
}

.offset-box p {
	margin: 0px;
}

	/* variant info  */

.variant-cont {
	margin-left: 16px;
}

.variant-box {
	display: inline-block;
	background-color: #282840;
	border-radius: 2px;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 3px;
	color: #D0D0F0;
	font-size: 12px;
}

	/* star selector */

.star-select {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}

.star-name {
	display: inline-block;
	font-size: 14px;
	margin: 4px;
	border: 1px solid;
	border-radius: 2px;
	border-color: #6060A0;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

.star-name:hover {
	cursor: pointer;
	background-color: #383858;
}

.star-name[data-sel="true"] {
	background-color: #285040;
}

.star-name[data-sel="true"]:hover {
	cursor: pointer;
	background-color: #305848;
}

	/* ----- time table styles ----- */

	/* -- top-level table styles */

.table-cont {
	padding: 14px;
}

.time-table {
	table-layout: fixed;
	word-wrap: break-word;
	width: 100%;
	border-spacing: 0px;
	border: 1px solid;
	border-color: #000000;
	padding: 0px;
	text-align: center;
	background-color: #C0C0E8;
	color: #000000;
	font-size: 14px;
}
	
	/* -- table row styles (mostly grid lines / separators) */

.time-row {
}

.time-row:first-child {
	font-weight: bold;
}

.time-row td {
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #000000;
	padding: 0px;
	height: 21px;
}

.time-row[data-end-row="true"] td {
	border-bottom-color: #A0A0C0;
}

.time-row:last-child td {
	border-bottom: 0px
}

.time-row td:last-child {
	border-right: 0px
}

.time-row td:first-child {
	border-bottom-color: #000000;
}

.sep-row {
	height: 1px;
	border: 0px;
}

.sep-cell {
	background-color: #602020;
	padding: 0px;
}

	/* -- time cells */

.time-cell:first-child {
	color: #000000;
	font-weight: bold;
}

.time-cell[data-active="true"]:hover {
	background-color: #B0B0D6;
	cursor: pointer;
}

tr[data-row-active="true"]:hover > .time-cell {
	background-color: #B0B0D6;
	cursor: pointer;
}

em {
	color: #5050A0;
}

a {
	color: #C04070;
}

a:visited {
	color: #603030;
}

.dark-cell {
	/*background-color: #C8B0B0;*/
	background-image: url('/icons/pattern-small.png');
	background-attachment: fixed;
}

	/* -- edit cells: display */

.edit-cell {
	background-color: #F4F4FF;
	/* background-color: #C8A0A0; */
}

.edit-cell:hover {
	background-color: #E0E0F8;
	/* background-color: #B08080; */
}

.cell-wrap {
	margin: 0px;
	height: 21px;
}

.cell-wrap[data-valid="false"] {
	text-decoration: 2px underline;
	text-decoration-color: #D06060;
}

.cell-wrap[data-dirty="true"] {
	font-style: italic;
}

.cell-wrap[data-use="false"] {
	cursor: pointer;
	background-color: #F8E8E8;
}

.cell-wrap[data-use="false"]:hover {
	cursor: pointer;
	background-color: #E8D8D8;
}

	/* -- edit cells: input*/

/* background-color: #A06070;
	color: #FFE6E3; */
.cell-input {
	background-color: #E0E0E0;
	color: #202080;
	border: 0px;
	padding: 0px;
	padding-left: 8px;
	margin: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	outline: solid;
	outline-width: 1px;
	outline-color: #5050B0;
}

.cell-input[data-valid="false"] {
	text-decoration: 2px underline;
	text-decoration-color: #D06060;
	outline-color: #B02020;
}

.cell-input[data-dirty="true"] {
	font-style: italic;
}
/*
input:focus {
	outline: solid;
	outline-color: #8080B0;
}*/

	/* -- record cells / sort icon */

.record-cell {
	font-size: 12px;
	font-weight: bold;
}

.float-frame {
	float: right;
	margin-left: -17px;
}

.float-icon {
	position: relative;
	left: -2px;
	top: 1.5px;
	height: 17px;
	opacity: 0%;
}

td:hover .float-icon[data-active="false"] {
	opacity: 60%;
}

.float-icon[data-active="true"] {
	opacity: 100%;
}

	/*  -- initial submit cells */

.init-cell {
	background-color: #282840;
	color: #9090B0;
}

.init-cell:hover {
	background-color: #303050;
	cursor: pointer;
}

/*
.misc-cell {
	background-color: #282840;
	color: #9090B0;
}*/

	/* common buttons */


.submit-button {
	display: inline-block;
	cursor: pointer;
	background-color: #285040;
	border: 1px solid;
	border-color: #404060;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	padding: 1px;
	padding-left: 12px;
	padding-right: 12px;
}

.submit-button:hover {
	cursor: pointer;
	background-color: #305848;
}

.plain-button {
	display: inline-block;
	background-color: #202040;
	border: 1px solid;
	border-color: #404060;
	border-radius: 4px;
	cursor: pointer;
	margin-top: -0.5px;
	margin-left: 2px;
	height: 20px;
	padding: 1px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight: normal;
}

.plain-button:hover {
	background-color: #1A1A30;
}

.cancel-button {
	background-color: #482020;
	border: 1px solid;
	border-color: #404060;
	border-radius: 4px;
	cursor: pointer;
	margin-top: -0.5px;
	margin-left: 1px;
	height: 20px;
	padding: 1px;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: normal;
}

.cancel-button:hover {
	background-color: #381A1A;
}

.submit-small {
	border-radius: 0px;
	margin: 0px;
	font-size: 12px;
	height: 19px;
}

	/* edit submit area */

.submit-area {
	background-color: #282840;
	color: #FFFFFF;
}

.submit-cont {
	/*margin: 8px;
	margin-top: 8px;
	margin-bottom: 8px;*/
}

.submit-ex {
	display: block;
	background-color: #E0E0E0;
	color: #000000;
}

.submit-ex-inner {
	display: flex;
	width: 100%;
}

.submit-ex-form {
	display: flex;
	border-top: 1px solid;
	padding: 1px;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 12px;
}

.form-title {
	width: 40px;
	padding-top: 1px;
}

.form-break {
	flex-basis: 100%;
	height: 0px;
}

.form-input {
	background-color: #D0D0D0;
	display: inline-block;
	text-align: left;
	width: 100%;
	margin-left: 6px;
	/*margin-right: 6px;
	margin-top: 4px;
	margin-bottom: 3px;*/
	border: 0px;
	border-left: 1px solid;
	outline: solid;
	outline-width: 0px;
	box-sizing: border-box;
}

.submit-info {
	background-color: #181830;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	/*font-size: 11px;
	height: 21px;*/
	height: 23px;
	font-weight: bold;
	text-align: left;
	box-sizing: border-box;
}

.submit-info[data-style='init'] {
	color: #9090B0;
	font-weight: normal;
	font-style: italic;
}

.submit-info[data-style='error'] {
	background-color: #281820;
	color: #D05050;
	font-style: italic;
}

.submit-info[data-style='warning'] {
	background-color: #26242A;
	color: #C0B050;
	font-style: italic;
}

.submit-info[data-style='valid'] {
	color: #90C898;
	font-weight: normal;
}

.button-area {
	display: flex;
	width: 100%;
	box-sizing: border-box;
}

	/* -- option select areas */

.opt-cont {
	display: block;
	text-align: left;
	margin-left: 6px;
	margin-rightt: 6px;
}

.opt-title {
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
}

.opt-box {
	display: flex;
	overflow: hidden;
	background-color: #E0E0E0;
	margin: 4px;
	border: 1px solid;
	border-radius: 8px;
	border-color: #202030;
}

.opt-button {
	font-size: 12px;
	min-width: 32px;
	padding: 1px;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}

.opt-button:hover {
	cursor: pointer;
	background-color: #C8C8D0;
}

	/* -- setting name toggles  */

.for-setting {
	border-right: 1px solid;
	border-color: #202030;
}

.for-setting:last-child {
	border-right: 0px;
}

.for-setting[data-sel="true"] {
	background-color: #A8A8E8;
}

.for-setting[data-sel="true"]:hover {
	cursor: pointer;
	background-color: #B8B8F8;
}

	/* -- strat name toggles */

.for-strat {
	display: inline-block;
	margin: 4px;
	border: 1px solid;
	border-radius: 8px;
	border-color: #202030;
}

.for-strat[data-sel="true"] {
	background-color: #E0B0C0;
}

.for-strat[data-sel="true"]:hover {
	background-color: #F0C0D0;
}

	/* menu bar */

.menu-cont {
	display: flex;
	padding-left: 6px;
	margin-bottom: 4px;
}

.menu-button {
	background-color: #202038;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid;
	border-color: #404060;
	border-radius: 4px;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight: bold;
}

.menu-button[data-active="true"] { 
	/*border-color: #408040;
	background-color: #389058;*/
	border-color: #4870A0;
	background-color: #4868B0;
	color: #202020;
}

.menu-button:hover {
	background-color: #282840;
	cursor: pointer;
}

.menu-button[data-active="true"]:hover {
	/*background-color: #40B060;*/
	background-color: #5878C0;
}
	/*background-color: #305848;*/


	/* drop-down image menu  */

.dropdown-cont {
	position: relative;
	cursor: pointer;
}

.dropdown-menu {
	position: absolute;
	left: -2px;
	top: 30px;
	width: 90px;
}

.dropdown-menu-inner {
	background-color: #282840;
	border: 1px solid;
	border-color: #282840;
	border-radius: 4px;
	font-size: 12px;
	box-shadow: 1px 1px 4px 1px #181820;
}

.dropdown-opt {
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left: 4px;
	width: 100%;
}

.dropdown-opt[data-active="false"] {
	cursor: default;
	color: #C0C0D0;
	font-style: italic;
}

.dropdown-opt[data-active="true"]:hover {
	text-decoration: underline;
}

	/* user submission */

.inner-button {
	display: inline-block;
	font-size: 14px;
	background-color: #285040;
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
	/*border: 1px solid;
	border-color: #000000;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;*/
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.inner-button:hover {
	cursor: pointer;
	background-color: #305848;
}

/*
.user-select {
	margin: 10px;
	margin-left: 16px;
}

.prefix {
	float: left;
	margin: 0px;
	margin-top: 4.5px;
	margin-right: 10px;
}

.button-group {
	display: inline;
	padding-left: 8px;
}

.submit-button {
	display: inline;
	font-size: 14px;
	background-color: #404058;
	margin: 2px;
	border: 1px solid;
	border-radius: 2px;
	border-color: #000000;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

.submit-button:hover {
	cursor: pointer;
	background-color: #484860;
}
*/
	
	/* login */

.ident-cont {
	margin-left: 14px;
}

.login-cont {
	display: flex;
}

.login-button {
	background-color: #202040;
	border: 1px solid;
	border-color: #404060;
	border-radius: 4px;
	cursor: pointer;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight: bold;
}

.login-button[image="true"] {
	padding-bottom: 1px;
	font-weight: normal;
}

.login-button:hover {
	background-color: #1A1A30;
}

.login-text {
	display: inline-block;
	float: right;
	padding-left: 8px;
	padding-bottom: 2px;
}

.login-pic {
	border-radius: 50%;
}

.logout-button {
	float: right;
	display: inline-block;
	margin-left: 3px;
	background-color: #482020;
	border: 1px solid;
	border-color: #404060;
	border-radius: 4px;
	cursor: pointer;
	padding-top: 4px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 1px;
	font-weight: bold;
}

.nick-disp {
	background-color: #282840;
	border-radius: 2px;
	width: 100px;
	height: 21px;
	
	margin-left: 10px;
	padding-top: 2px;
	font-weight: bold;
	text-align: center;
}

.nick-disp[data-state="none"] {
	color: #9090B0;
	font-style: italic;
	font-weight: normal;
}

.nick-disp[data-state="edit"] {
	color: #C0C0E0;
	outline: 0px!important;
	border: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	font-style: italic;
	font-weight: normal;
}

.nick-box {
	display: inline-block;
	background-color: #C0C0E8;
	border-spacing: 0px;
	border: 1px solid;
	border-color: #000000;
	color: #000000;
	height: 21px;
	/*background-color: #282840;
	border-radius: 2px;
	color: #D0D0F0;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 3px;*/
	width: 100px;
	font-size: 14px;
	text-align: center;
}

/*
.nick-box[active="false"] {
	background-color: ;
}*/

.user-disp {
	margin-left: 14px;
	margin-bottom: 6px;
	font-size: 12px;
	font-style: italic;
}

.nick-cont {
	display: flex;
}

.edit-icon {
	height: 18px;
	margin-left: 2px;
	margin-top: 2px;
	opacity: 50%;
}

.edit-icon:hover {
	cursor: pointer;
	opacity: 100%;
}

	/* standard colors */

td[data-ps="Mario"] {
	background-color: #CC2222;
	color: #FFFFFF;
}

td[data-ps="Grandmaster"] {
	background-color: #701010;
	color: #FFFFFF;
}

td[data-ps="Master"] {
	background-color: #701050;
	color: #FFFFFF;
}

td[data-ps="Diamond"] {
	background-color: #8080D0;
}

td[data-ps="Platinum"] {
	background-color: #80D080;
}

td[data-ps="Gold"] {
	background-color: #D0D080;
}

td[data-ps="Silver"] {
	background-color: #D0D0D0;
}

td[data-ps="Unranked"] {
	color: #404040;
	font-style: italic;
}